<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Live sessions (Zoom)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>Monday 30th Oct 10:00 - 12:00</td>        <!-- time    -->
        <td>Welcome, introduction and setup</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td> Thursday 2nd Nov 10:00 - 12:00</td>        <!-- time    -->
        <td>Shell Q&A, HPC introduction and Myriad logon</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>Wednesday 8th Nov 10:00 - 12:00</td>        <!-- time    -->
        <td>HPC Q&A</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>Friday 10th Nov 10:00 - 12:00</td>        <!-- time    -->
        <td>HPC Q&A, parallel challenge and wrap up</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Study sessions</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Monday 30th Oct 1:00 - 4:00</td>        <!-- time    -->
        <td>Bash shell, HPC introduction (~4 hours)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>Thursday 2nd Nov 1:00 - 4:00</td>        <!-- time    -->
        <td>Connecting, exploring resources, scheduler fundamentals and accessing software (~3 hours)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>Wednesday 8th Nov 1:00 - 4:00</td>        <!-- time    -->
        <td>Transfering files, running a parallel job, using shared resources responsibly (~3 hours)</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
